h1{
    color:coral;
}
img{ 
    width: 400px;
}
#thirdDiv{
    background-color: brown;
    width: 500px; height: 600px;
    padding: 50px;
    border: 5px solid peru;
}
#spanId{
    font-size: 18px;
    margin: 50px;

}